.banner{
	width: 100%;
	height: 453px;
	position:relative;
	ul{
		width: 100%;
		height: 453px;
		position:relative;
		li{
			height: 453px;
			width: 1263px;
			position:absolute;
			top:0;
			left:0;
			img{
				width: 1263px;
				height: 453px;
			}
		}:nth-child(1){
			// background:url(../img/banner6.png) no-repeat;
			// background-size:cover;
		}
	}
	.guangao{
		position:absolute;
		right:8px;
		top:8px;
	}
}
.main{
	margin-top:10px;
	.sideAd{
		height: 170px;
		display:flex;
		justify-content:space-between;
		img{
			vertical-align:top;
		}
	}
	.main_part1{
		height: 261px;
		p{
			height: 22px;
			margin-bottom:6px;
		}
		.box{
			border:1px solid #ccc;
			height: 231px;
			box-sizing:border-box;
			li{
				border-right:1px solid #ccc;
				width: 186px;
				height: 100%;
				text-align:center;
				float:left;
				&:last-child{
					border:0px;
				}
				.pic{
					img{
						width: 130px;
						padding-top:5px;
					}
				}
				.text{
					padding:0 15px;
					margin-top:10px;
					a{
						text-align:center;
						color:#000;
						&:hover{
							color:#c40000;
						}
					}
					strong{
						text-align:left;
						font-size:16px;
						color:#c40000;
						display:block;
						margin-top:5px;
					}
				}
			}
		}
		.part1_left{
			width: 936px;
			float:left;
		}
		.part1_right{
			width: 252px;
			float:right;
			.box{
				padding:10px 10px 4px;
				p{
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
	.sideAd2{
		height: 125px;
		margin-top:20px;
		display:flex;
		justify-content:space-between;
	}
	.section{
		height: 428px;
		p{
			height: 22px;
			margin-bottom:6px;
		}
		.section_box{
			height: 400px;
			box-sizing:border-box;
			border:1px solid #ccc;
			border-bottom:0;
			ul.section_box_center{
				width: 719px;
				height: 398px;
				float:left;
				li{
					width: 239px;
					height: 199px;
					background-color:#fc0;
					float:left;
					border-right:1px solid #ccc;
					border-bottom:1px solid #ccc;
					text-align:center;
					background-color:#fff;
					h2{
						margin:6px 0;
					}
					span{
						height: 18px;
					    line-height: 18px;
					    padding: 0 10px;
					    border-radius: 9px;
					    background: #fb3c22;
					    color:#fff;
					}
					img{
						width: 100px;
						height: 100px;
						position:relative;
						top:0;
						left:0;
					}
					&:nth-child(3n){
						border-right:0px;
					}
				}
			}
			.section_box_right,.section_box_left{
				border-bottom:1px solid #ccc;
				float:left;
				height: 399px;
			}
		}
	}
	.section_floor{
		// margin-top:20px;
		width: 100%;
		// height: 512px;
		header{
			height: 37px;
			line-height:37px;
			margin-top:15px;
			border-bottom:2px solid #c40000;
			h2{
				font-size:16px;
				font-weight:normal;
				float:left;

				span{
					width: 28px;
					height: 22px;
					font-size:12px;
					padding:0 5px;
					background-color:#c40000;
					color:#fff;
					margin-right:4px;
				}
			}
			a{
				color:#000;
				float:right;
			}
		}
		.section_floor_box{
			width: 100%;
			height: 477px;
			.floor_left{
				float:left;
				width: 319px;
				ul{
					padding-left: 8px;
				    line-height: 18px;
				    padding-top: 23px;
				    height: 71px;
				    background: #fff6e5;
				    li{
				    	float:left;
					    margin-bottom: 12px;
					    width: 76px;
					    text-align: center;
					    white-space: nowrap;
					    border-right: 1px solid #ac6f05;
					    &:nth-child(4n){
					    	border:0;
					    }
					    a{
					    	color: #ac6f05;
					    }
				    }
				}
				img{
					display:block;
					&:last-child{
						border-bottom:1px solid #ccc;
					}
				}
			}
			.floor_right{
				float:right;
				width: 880px;
				height: 477px;
				font-size:0;
				.lbt{
					width: 440px;
					height: 237px;
					float:left;
					position:relative;
					overflow:hidden;
					b{
						width: 6px;
						height: 6px;
					}
					ul.tu{
						width: 880px;
						height: 237px;
						position:absolute;
						top:0;
						left:0;
						li{
							float:left;
						}
					}
				}
					img{
						border-bottom:1px solid #ccc;
						border-right:1px solid #ccc;
					}
			}
		}
	}
	.section_floor5{
		header{
			height: 37px;
			line-height:37px;
			margin-top:15px;
			border-bottom:2px solid #c40000;
			h2{
				font-size:16px;
				font-weight:normal;
				float:left;

				span{
					width: 28px;
					height: 22px;
					font-size:12px;
					padding:0 5px;
					background-color:#c40000;
					color:#fff;
					margin-right:4px;
				}
			}
		}
		.floor5_box_top{
			display:flex;
			justify-content:space-between;
		}
		.floor5_box_footer{
			a{
				float:left;
				img{
					display:block;
				}
			}
		}
	}
	.section_floor6{
		header{
			height: 37px;
			line-height:37px;
			margin-top:15px;
			border-bottom:2px solid #c40000;
			h2{
				font-size:16px;
				font-weight:normal;
				float:left;

				span{
					width: 28px;
					height: 22px;
					font-size:12px;
					padding:0 5px;
					background-color:#c40000;
					color:#fff;
					margin-right:4px;
				}
			}
			a{
				font-size:16px;
				color:#000;
				float:right;
			}
		}
		.floor6_box{
			height: 382px;
			padding: 0 0 15px 15px;
			border:1px solid #ccc;
			border-top:1px solid #fff;
			.floor6_imgbox{
				float:left;
				margin-top: 15px;
				width: 221px;
				height: 107px;
				overflow:hidden;
				margin-left: 15px;
				position:relative;
				img{
					position:absolute;
				}
			}
		}
	}
}
.dot{
	position:absolute;
	width:100%;height:30px;
	text-align:center;
	bottom:0;
	left:0;
	p{
		margin-right:10px;
	}
	b{
		width:17px;
		height:17px;
		border-radius:20px;
		color:#333;
		display:inline-block;
		border:1px solid #fff;
		background:#fff;
		text-align:center;
		line-height:17px;
		margin:0 3px;
		margin-top:6px;
		cursor:pointer;
		font-weight:normal;
	}
	.cur {
		background:#F63;
		color:#fff;
		border:1px solid #f63;
	}
}