.warp2 {
  width: 980px;
  margin: 0 auto;
}

header {
  height: 90px;
  line-height: 90px;
}

header img {
  margin-top: 18px;
}

header p {
  float: right;
  font-size: 12px;
}

header p span#id {
  font-size: 16px;
}

header p a {
  color: #000;
}

header p a:nth-child(3) {
  margin: 0 26px;
}

header p a.red {
  color: #c40000;
}

header p span:nth-child(2) {
  margin: 0 26px;
}

.banner {
  height: 580px;
  border-top: 1px solid #ccc;
  background: url(../img/login_bg.gif);
}

footer {
  padding-top: 40px;
  text-align: center;
  background-color: #f7f7f7;
}

footer p {
  margin: 7px 0;
}

.size {
  font-size: 12px;
}
